* {
    margin: 0px;
    padding: 0px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.navegacion {
    background-color: rgb(243, 243, 200);
    height: 60px;
    width: 100%;
    font-size: 28px;
    color: black;
    font-family: "Roboto", sans-serif;
    position: fixed;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.navegacion a {
    padding: 0px 15px 0px 15px;
}
.titulo {
    width: 100%;
    font-size: 50px;
    color: black;
    font-family: "Roboto", sans-serif;
    align-items: center;
    position: absolute;
    top: 70px;
    text-align: center;
}
.foto__principal {
    width: 100%;
    position: absolute;
    top: 200px;
    text-align: center;
}
.texto__adicional {
    width: 100%;
    position: absolute;
    top: 1020px;
    list-style: circle;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 70px;
    justify-content: space-evenly;
}
.footer {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    background-color: black;
    color: white;
    top: 1180px;
    line-height: 30px;
    text-align: center;
    display: grid;
}
.footer--contacto {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    background-color: black;
    color: white;
    top: 1380px;
    line-height: 30px;
    text-align: center;
    display: grid;
}
.footer--talles {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    background-color: black;
    color: white;
    top: 850px;
    line-height: 30px;
    text-align: center;
    display: grid;
}
.footer--productos {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    background-color: black;
    color: white;
    top: 1000px;
    line-height: 30px;
    text-align: center;
    display: grid;
}
.background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.subtitulo__comprar {
    width: 100%;
    position: absolute;
    top: 170px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 70px;
    justify-content: space-evenly;
}
.pasos__comprar {
    width: 100%;
    position: absolute;
    top: 260px;
    list-style: disc;
    display: list-item;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 150px;
    justify-content: space-evenly;
}
.formulario {
    width: 100%;
    top: 80px;
    align-items: center;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;

}
.formulario--input {
    margin: 30px;
    font-family: "Roboto", sans-serif;
    position: relative;
    width: 400px;
    height: 63px;
    text-align: center;
    display: flex;
}
.button {
    position: relative;
    top: -20px;
    color: rgb(0, 0, 0); 
    font-size: 14px; 
    line-height: 14px; 
    padding: 5px; 
    border-radius: 0px; 
    font-family: "Roboto", serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    text-transform: none; 
    display: inline-block;
}
    .button:hover {
    background: #00000080; }
    .button:active {
    background: #00000080; }
.talles {
    width: 100%;
    top: 150px;
    align-items: center;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
.talles td {
    height: 100px;
    width: 200px;
    border: groove;
    background-color: rgba(250, 250, 250, 0.24);
}
.nombre__prenda--remera {
    width: 100%;
    top: 150px;
    align-items: center;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}
.nombre__prenda--pantalon {
    width: 100%;
    top: 350px;
    align-items: center;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}
.nombre__prenda--hoodie {
    width: 100%;
    top: 550px;
    align-items: center;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}
.nombre__prenda--shoe {
    width: 100%;
    top: 750px;
    align-items: center;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}
.prenda--remera {
    width: 100%;
    top: 220px;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    list-style: none;
}
.prenda--pantalon {
    width: 100%;
    top: 420px;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    list-style: none;
}
.prenda--hoodie {
    width: 100%;
    top: 620px;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    list-style: none;
}
.prenda--shoe {
    width: 100%;
    top: 820px;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    list-style: none;
}
.productos ul li{
    padding: 30px ;
    background-color: rgba(255, 255, 255, 0.397);
}